/*.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    // więcej stylów

    .nav-item:hover {
        // efekt hover
    }

    @media (max-width: 768px) {
        // Styl dla menu hamburgerowego
    }
}
*/